body {
	background: url('img-bg.jpg') no-repeat center;
	bak
}

h1 {
	color:white;
}

div {
	color:white;
}

a {
  text-decoration: none !important;
  outline: none;
}

#verification {
  position: fixed;
  top: 75;
  left: 400;
  width:150px;
  height:400px;
  background-color: transparent;
}

#profileInformation {

	width:500;
	height:375;
}