#firstPage {
        background: url('parth.png') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

#secondPage {
        background: url('pass.png') no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

button {

	background-color: transparent;
	width: 15px;
	height:50px;
	position: fixed;
    bottom: 9;
    border:none;

}